body{
     margin: 0px;
     box-sizing: border-box;
     background-color: black;
     color: rgb(255, 255, 255);
     font-family: Arial, Helvetica, sans-serif;
     height: 100%;
     width: 100%;
}

.navbar-container{
     display: flex;
     padding-top: 10px;
     justify-content: center;
     width: 100%;
     position: sticky;
     top: 0px;
}

.navbar{
     justify-content: center;
     justify-content: space-around;
     display: flex;
     align-items: center;
     height: 50px;
     border-radius: 50px;
     background-color: #ffffff;
     opacity: 0.7;
     width: 700px;
}

.navbar a{
     text-decoration: none;
     color: #000000;
     padding: 10px;
     border-radius: 50px;
     margin-left: 10px;
     margin-right: 10px;
}

.navbar a:hover{
     background-color: rgb(0, 0, 0);
     color: #ffffff;
     opacity: 0.4;
}

.hyve-logo{
     width: 80px;
     height: auto;
     margin-left: 10px;
     margin-right: 10px;
}

.footer{
     background-image: url(img/degrade-bleu.png);
     background-size: 100%;
     margin-top: 200px;
     padding: 50px; 
}

.first-footer-div{
     display: flex;
     justify-content: space-around;
}

.second-footer-div{
     display: flex;
     justify-content: center;
     margin: 20px;
}

.social{
     width: 200px;
     display: flex;
     flex-wrap: wrap;
}

.social-icon{
     width: 40px;
     margin: 10px;
}

.social-icon-threads{
     width: 30px;
     margin: 10px;
}

.nav-link{
     text-decoration: none;
     color: white;
}

.nav-link:hover{
     color: gray;
}

.liste{
     margin: 10px;
}

.big-title-container{
     display: flex;
     margin-top: 100px;
     justify-content: center;
     margin-bottom: 100px;
}

.big-title{
     color: #3533cd ;
}

article{
     display: flex;
     width: 1000px;
     height: auto;
     margin-bottom: 50px;
     margin-left: 100px;
}

.article-image{
     margin-right: 15px;
}

.content{
     display: flex;
}

.title{
     margin: 5px;
     margin-left: 0px;
     color: #3533cd;
     text-decoration: none;
     font-size: larger;
     font-weight: bold;
}

.text{
     line-height: 25px;
     word-spacing: 2px;
     text-align: justify;
}

.date{
     color: gray;
     margin-bottom: 10px;
}

.synopis{
     line-height: 25px;
}

.newsletter{
     margin-top: 100px;
     margin-left: 100px;
     margin-right: 50px;
}

.newsletter-title{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #3533cd;
     padding: 10px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     width: 150px;
     height: 20px;
     margin-left:20px;
}

.form-container{
     display: flex;
     flex-direction: column;
     border: solid;
     border-color: #3533cd;
     border-width: 4px;
     color: rgb(255, 255, 255);
     padding: 20px;
     border-radius: 10px;
     width: 750px;
}

.mail-area{
     border-radius: 10px;
     border-color: #3533cd;
     border-width: 3px;
     width: 200px;
     height: 20px;
     padding: 5px;
     margin: 10px;
     margin-left: 0px;
}

.mail-area:focus{
     border-color: #3533cd;
     outline: none;
}

.submit-btn{
     border-radius: 10px;
     border-width: 3px;
     width: 200px;
     height: 35px;
     padding: 5px;
     margin: 10px;
     background-color: #000000;
     color: rgb(255, 255, 255);
     border-color: #3533cd;
}

.submit-btn:hover{
     background-color: #ffffff;
     color: rgb(0, 0, 0);
}

.reminder{
     display: flex;
}

.asterix{
     color: red;
     margin-right: 5px;
}

@media (max-width:1024px){
     article{
          margin-left: 50px;
          width: 900px;
     }

     .newsletter{
          margin-left: 50px;
     }
}

@media (max-width:820px){
     article{
          width: 675px;
     }

     .article-image{
          width: 150px;
     }

     .form-container{
          width: 500px;
     }
}

.toggle-sidebar {
     display: none;
}

.sidebar {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: rgba(0, 0, 0, 1);
     z-index: 1;
     color: #ffffff;
     padding-top: 60px;
     transition: left 0.3s ease-in-out;
}

.sidebar img.hyve-logo {
     display: block;
     margin: 0 auto 20px;
     width: 80%;
}

.sidebar a {
     padding: 10px 15px;
     text-decoration: none;
     font-size: 18px;
     color: white;
     display: block;
}


.close-btn {
     position: absolute;
     top: 10px;
     right: 25px;
}

.open-btn {
     background-color: rgba(255, 255, 255, 0);
     display: none;
     margin: 0px;
     margin-left: 20px;
     padding-top: 20px;
}



@media (max-width: 450px){
     .navbar-container{
          display: none;
     }

     .open-btn {
          display: block;
     }

     .sidebar {
          left: -250px;
     }

     .newsletter{
          width: 300px;
          margin-left: 40px;
     }

     .form-container{
          width: 300px;
     }

     article{
          flex-wrap: wrap;
          justify-content: center;
          width: 325px;
     }

     .article-image{
          margin-bottom: 10px;
     }

     .text{
         width: 300px; 
     }

     .footer{
          margin-top: 100px;
     }

     .first-footer-div{
          display: block;
          margin-left: 50px;
     }

     .submit-btn{
          margin-left: 0px;
     }

     .big-title-container{
          margin-bottom: 25px;
          margin-top: 50px;
     }
}

@media (max-width:400px){
     .newsletter{
          margin-left: 15px
     }

     article{
          margin-left: 20px;
     }
}

@media (max-width: 350px){
     .form-container{
          width: 250px;
     }

     .article-image{
          width: 100px;
     }

     article{
          width: 300px;
          margin-left: 10px;
          
     }

     .text{
          text-align: start;
          width: 250px;
     }

     .newsletter{
          margin-left: 10px;
          margin-top: 50px;
     }

     .first-footer-div{
          margin-left: 20px;
     }
}