html,body {
     margin: 0px;
     box-sizing: border-box;
     background-color: black;
     color: rgb(255, 255, 255);
     font-family: Arial, Helvetica, sans-serif;
     height: 100%;
     width: 100%;
}

header {
     background-image: url(img/vr-headset.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     margin-bottom: 50px;
}

.navbar-container {
     display: flex;
     padding-top: 10px;
     justify-content: center;
     width: 100%;
     position: sticky;
     top: 0px;
}

.navbar {
     justify-content: center;
     justify-content: space-around;
     display: flex;
     align-items: center;
     height: 50px;
     border-radius: 50px;
     background-color: #000000;
     opacity: 0.7;
     width: 700px;
}

.navbar a {
     text-decoration: none;
     color: #ffffff;
     padding: 10px;
     border-radius: 50px;
     margin-left: 10px;
     margin-right: 10px;
}

.navbar a:hover {
     background-color: rgba(255, 255, 255, 0.7);
     color: #000000;
}

.toggle-sidebar {
     display: none;
}

.sidebar {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: rgba(0, 0, 0, 1);
     z-index: 1;
     color: #ffffff;
     padding-top: 60px;
     transition: left 0.3s ease-in-out;
}

.sidebar img.hyve-logo {
     display: block;
     margin: 0 auto 20px;
     width: 80%;
}

.sidebar a {
     padding: 10px 15px;
     text-decoration: none;
     font-size: 18px;
     color: white;
     display: block;
}


.close-btn {
     position: absolute;
     top: 10px;
     right: 25px;
}

.open-btn {
     background-color: rgba(255, 255, 255, 0);
     display: none;
     margin: 0px;
     margin-left: 10px;
     padding-top: 10px;
}

.toggle-sidebar:checked ~ .sidebar {
     left: 0;
}

.hyve-logo {
     width: 80px;
     height: auto;
     margin-left: 10px;
     margin-right: 10px;
}

.quote {
     height: 500px;
     line-height: 100px;
     font-size: 35px;
     margin-left: 70px;
     color: white;
}

.big-title {
     width: 100%;
     display: flex;
     justify-content: center;
     font-weight: bolder;
     font-size: xx-large;
}

.first-article-container {
     margin: 50px;
     border-radius: 10px;
     background-image: url(img/degrade-bleu.png);
     background-size: 100%;
     display: flex;
}


.article-image {
     margin-right: 50px;
     margin-top: 70px;
     width: 350px;
     height: auto;
}

.article-paragraph {
     text-align: justify;
     line-height: 35px;
     color: #ffffff;
     margin-right: 50px;
     font-size: larger;
}

.paragraph-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.second-article-container {
     margin: 50px;
     padding: 50px;
     border-radius: 10px;
     background-image: url(img/degrade-bleu.png);
     background-size: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}

.profil-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     width: 150px;
}

.profil-container img {
     width: 200px;
}

.profil-container p {
     text-align: center;
}

.render-image {
     width: 500px;
     height: auto;
     border-radius: 5px;
     margin-bottom: 10px;
}

.third-article-container {
     margin: 50px;
     padding: 50px;
     border-radius: 10px;
     background-image: url(img/degrade-bleu.png);
     background-size: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.button {
     padding: 10px;
     border-radius: 50px;
     border: solid;
     border-width: 2px;
     border-color: darkviolet;
     color: white;
     text-decoration: none;
     height: 20px;
}

.button:hover {
     background-color: #000000;
     opacity: 0.7;
}

.button-container {
     margin-top: 10px;
     width: 100%;
     display: flex;
     justify-content: center;
}

.fourth-article-image {
     margin-right: 50px;
     width: 350px;
     height: 350px;
     margin-left: 20px;
}

.second-container {
     display: flex;
     flex-wrap: wrap;
}

.footer {
     background-image: url(img/degrade-bleu.png);
     background-size: 100%;
     margin-top: 200px;
     padding: 50px;
}

.first-footer-div {
     display: flex;
     justify-content: space-around;
}

.second-footer-div {
     display: flex;
     justify-content: center;
     margin: 20px;
}

.social {
     width: 200px;
     display: flex;
     flex-wrap: wrap;
}

.social-icon {
     width: 40px;
     margin: 10px;
}

.social-icon-threads {
     width: 30px;
     margin: 10px;
}

.nav-link {
     text-decoration: none;
     color: white;
}

.nav-link:hover {
     color: gray;
}

.liste {
     margin: 10px;
}


@media (max-width: 1024px) {
     .quote {
          height: 350px;
          line-height: 75px;
          margin-left: 70px;
          color: white;
     }

     header {
          margin-bottom: 0px;
     }

     .article-paragraph{
          font-size: larger;
     }
}

@media (max-width: 900px) {
     .quote {
          height: 275px;
          line-height: 60px;
          font-size: 20px;
          margin-left: 70px;
          color: white;
     }

     .first-article-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 20px;
          margin: 25px;
     }

     .second-article-container {
          padding: 20px;
          margin: 25px;
     }

     .third-article-container {
          padding: 20px;
          margin: 20px;
     }

     .article-paragraph {
          margin-right: 0px;
          font-size: larger;
     }

     .first-footer-div {
          margin-left: 100px;
     }
}

@media (max-width: 450px) {
     .render-image {
          width: 300px;
     }

     .navbar-container{
          display: none;
     }

     .quote {
          line-height: 35px;
          font-size: 13px;
          margin-left: 20px;
          height: 150px;
     }
     .quote h1{
          margin-top: 0px;
     }

     .open-btn {
          display: block;
     }

     .sidebar {
          left: -250px;
     }

     .first-article-container {
          margin: 10px;
     }

     .article-image{
          width: 250px;
          height: auto;
          margin-left: 50px ;
          margin-top: 10px;
     }

     .second-article-container{
          margin: 10px ;
     }

     .big-title{
          font-size: larger;
     }

     .profil-container img{
          width: 100px;
     }

     .fourth-article-image{
          width: 250px;
          height: 250px;
          margin-left:50px ;
     }

     .first-footer-div{
          display: block;
          margin-left: 50px;
     }

     .footer{
          margin-top: 100px;
     }

     .article-paragraph{
          font-size: large;
     }
}

@media (max-width:350px){
     .quote{
          line-height: 25px;
          font-size: 12px;
          margin-left: 20px;
          height: 125px;
     }

     .fourth-article-image{
          width: 200px;
          height: 200px;
     }

     .first-footer-div{
          margin-left: 25px;
     }

     .article-image{
          margin: 0px;
          width: 200px;
          height: 200px;
     }

     .big-title{
          font-size: small;
     }

     .article-paragraph{
          font-size: large;
     }
}